    <div class="card mt-5" style="align-items: center;">
      <h1>Student Dashboard</h1>
    </div>

    <div class="mt-5">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Roll number</th>
              <th>Name</th>
              <th>Address</th>
              <th>Percentage</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let student of studentDetails">
              <td>{{student.rollNumber}}</td>
              <td>{{student.name}}</td>
              <td>{{student.address}}</td>
              <td>{{student.percentage}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    


